<section class="section">
  <article class="media">
    <div class="media-content">
      <div class="content has-text-centered">
        <div class="columns is-centered">
          <div class="column">
            <figure>
              <div class="main-image">
                <h1>
                  <strong style="font-family: cursive;">wankogram</strong>
                </h1>
                   <P>
                    <strong style="font-family: cursive;"></strong>あなたの自慢の愛犬、シェアしませんか？</strong>
                  </p>  
              </div>
            </figure>
          </div>
        </div>
      </div>
      <div class="columns is-centered">
        <div class="column is-5">
          <br>
          <%= link_to "ログイン", new_user_session_path, class: "button is-primary is-fullwidth" %>
          <br>
          <%= link_to "新規登録", new_user_registration_path, class: "button is-primary is-fullwidth" %>
        </div>
      </div>
    </div>
  </article>
</section>

